# This notebook contains the cleaning code for the Indeed Dataset
Reads the raw dataset and preprocesses to output "main" table and "skill" table.

In [30]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import re
import json
import time

from bs4 import BeautifulSoup
from nltk.corpus import stopwords

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
import altair as alt
import dtale

# import aws comprehend
import boto3

In [31]:
def clean_html(value):
    """
    Clean the job descriptions
    """
    soup = BeautifulSoup(value, 'html.parser')
    desc = soup.find(id='jobDescriptionText').text.replace("\n", " ").replace("  ", " ")
    for word in stopwords.words('english'):#STOPWORDS:
        desc = desc.lower().replace(" " + word + " ", " ")
    
    return desc


def preprocessing(filename, file_format):
    """
    Extract the columns of interest
    """
    if file_format == 'csv':
        df = pd.read_csv(filename)
        df['country'] = df['country']
        df['posting_date'] = pd.to_datetime(df['crawl_timestamp']).dt.date
        df['title'] = df['job_title']
        df['employer'] = df['company_name']
        df['id'] = df['uniq_id']
        df['industry'] = df['industry']
        df['description'] = df['job_description'].apply(clean_html)
    else:
        df = pd.read_json(filename, lines=True)
        df['country'] = 'India'
        df['posting_date'] = pd.to_datetime(df['post_date']).dt.date
        df['employer'] = df['company_name']
        df['title'] = df['job_title']
        df['id'] = df['uniq_id']
        df['industry'] = df['category']
        df['description'] = df['job_description'].str.lower().apply(lambda x: ' '.join([word for word in x.split() if word not in (stopwords.words('english'))]))
    
    df['source'] = 'Indeed'
        
    return df[['posting_date', 'description', 'title', 'employer', 'industry', 'id', 'source', 'country']]

### Cleaning and Job Selection

In [32]:
filename = "./01_data/marketing_sample_for_trulia_com_real_estate_20190901_20191031_30k_data.csv"
filename2 = "./01_data/marketing_sample_for_indeed_co_in-indeed_co_in_job__20201101_20201231__5k_data.ldjson"

In [33]:
usa = preprocessing(filename, file_format='csv')
india = preprocessing(filename2, file_format='json')

In [34]:
usa.sample(5)

,posting_date,description,title,employer,industry,id,source,country
6751,2019-10-24,summary: meet exceed sales objectives assigned...,Business Development Mgr,"Spartan Motors, Inc.",NaN,bd95a5601ac17bba867e5fc137a6d912,Indeed,United States
11951,2019-10-22,millennium health leading health solutions co...,Territory Manager I-Columbia,Millennium Health,NaN,a0802bd5232228231221fd68cba7e259,Indeed,United States
23857,2019-08-23,"combine power big data, technology, lean econ...","Director, Sales Operations",Callisto Media,NaN,5a218ffc411e6e87d48e845f804e0904,Indeed,United States
12549,2019-10-25,"west pharmaceutical services, inc. leading m...",Manufacturing Development Engineer,West Pharmaceutical Services,NaN,4b8df072334aa177b236ab617bd8cfa8,Indeed,United States
16624,2019-10-23,flowhub mission help cannabis dispensaries si...,QA Engineer,Flowhub,NaN,d46fde6975a42c3c66e433d1a84b0084,Indeed,United States

In [35]:
india.sample(5)

,posting_date,description,title,employer,industry,id,source,country
2391,2020-11-25,"senior associate - content review noida, india...",Senior Associate,Wiley,Healthcare,870b3682748e646398301d4c83c70180,Indeed,India
1999,2020-12-21,designation: account assistant locality: thepp...,Accounts Assistant,Insoll,Admin,c8f58d89fb0891752c2a61eaa175430a,Indeed,India
1429,2020-12-13,looking business manager 3 4 years experience ...,Business Manager - Monthly Basket,MSR India,Manufacturing,2fbce63c030583b9ea30153607c5ee12,Indeed,India
2367,2020-12-15,job summary visiting chemists provision store ...,Area Sales Manager (OTC DIVISION),MORVIN INDIA HEALTH CARE PVT LTD,Construction,6af1e6ab04c3a21f355213004a04b187,Indeed,India
2162,2020-12-24,responsibilities 7+ years experience informati...,"Data Security Cntrl Specialist - Hyderabad,TS","Clean Harbors Environmental Services, Inc.",Management,411f0e6e88f6bb7d0ba24c4cb94a1226,Indeed,India

In [36]:
indeed_master = pd.concat([usa, india])

In [37]:
indeed_master.to_csv('./indeed_master.csv', index=False)

In [38]:
# select data related jobs
indeed_main = indeed_master[indeed_master['title'].str.contains('(?i)(data engineer|machine learning|data scientist|data analyst)', regex=True)]

In [39]:
# peek into job titles
indeed_main['title'].unique()

array(['Senior Data Scientist, Wholesale Credit Technology',
       'Senior Data Engineer- Platform Development', 'Data Analyst',
       'Jr. Data Analyst Compliance', 'Data Scientist',
       'Customer Data Analyst', 'Business and Data Analyst Manager',
       '(Temporary) Researcher and Data Analyst, Fine Arts',
       'Sr Data Analyst', 'Senior Data Engineer, BI and Analytics (5905)',
       'Sr. Fraud Data Analyst', 'Sr. IT Data Engineer', 'Data Engineer',
       'Sr Demand Forecasting Data Scientist',
       'data scientist - Seattle, WA', 'Finance Data Analyst',
       'Data Engineering Manager', 'Customer Service Data Analyst',
       'Business Data Analyst', 'Senior Data Analyst',
       'Senior Marketing Data Analyst', 'Technical Data Analyst',
       'Lead Data Scientist',
       'Product Management Lead - Cloud and Machine Learning',
       'Data Scientist - (2 Positions)',
       'Senior Director of Product Management, Machine Learning',
       'Specialist SA, Machine Learning/AI Services',
       'Senior Product Data Scientist',
       'Senior Data Engineer / automotive start-up',
       'Account Analyst - Sales Data Analyst', 'Sr. Data Analyst',
       'Data Analyst 2',
       'Senior Data Analyst – Global Supply Analytics, AMERICAS, Analytics',
       'Senior Data Engineer', 'Data Analyst Intern', 'Jr. Data Analyst',
       'BI Data Analyst', 'Solutions Engineer, Applied Machine Learning',
       'Machine Learning Engineer', 'Programmatic Data Analyst',
       'Data Analyst, Sales and Customer Support Contact Center',
       'Mgr Software Engineering - Data Engineering',
       'DATA ANALYST - 9153 73', 'Sales/Data Analyst Intern - Fall 2019',
       'Corporate Marketing Data Analyst, Pittsburgh, PA',
       'Data Analyst - Investigative Analytics - Senior Associate',
       'Product Data Analyst', 'Sales Data Analyst', 'Data Engineer, GMS',
       'Data Analyst - Tableau', 'Data Analyst Manager',
       'Business & Reporting Data Analyst', 'Data Scientist (Churn)',
       'Marketing Data Analyst', 'Master Data Analyst',
       'Ecommerce Data Analyst', 'Supplier Master Data Analyst',
       'Research/Data Analyst',
       'Internship Data Scientist, Product Analytics, Analytics',
       'Program Lead, Machine Learning Advanced Solutions, Google Cloud',
       'Senior Business Data Analyst',
       'Technical Data Analyst (Marketing)', 'Chief Data Scientist',
       'Sales and Data Analyst', 'Optical Data Analyst',
       'Sr. Leader, Data Engineering',
       'Senior Data Scientist, Wholesale Credit and Banking Technology',
       'AI/Machine Learning Software Engineer Intern',
       'Distribution Senior Data Analyst', 'Sr. Corporate Data Analyst',
       'Sr Associate – Data Scientist',
       'Senior Data Engineer - Business Systems',
       '(Remote) Business/Data Analyst',
       'Data Analyst, Planning & Inventory', 'Data Analyst - MaritzCX',
       'Commodity Data Analyst', 'Data Engineer II',
       'Associate Data Scientist',
       'Data Analyst - Passenger Transportation', 'Data Analyst I',
       'Senior Business Data Analyst-Web/Digital Analytics',
       'Senior Manager of Data Engineering',
       'Sales Support and Data Analyst',
       'Senior Deep Learning Data Scientist', 'VP, Data Scientist',
       'Manager of Data Engineering', 'Director, Data Engineering',
       'Data Scientist Manager, SBG', 'Premier Data Analyst',
       'Senior Sales Data Analyst - NBA',
       'Account Operations Data Analyst', 'Data Scientist/Engineer',
       'Data Scientist (Marketing Mix Modeling)',
       'Data Engineer - SQL / Big Data / Cloud',
       "Data Analyst Bachelor's (Intern) - United States",
       'Sales Compensation and Data Analyst',
       'Data Engineer- Irvine - CA',
       'HubSpot Data Analyst (Located in Johnston, Iowa)',
       'Data Analyst (Retail, Reporting & SQL)', 'Data Analyst Associate',
       'Sr. Data Analyst, Commercial Analytics',
       'Principal Machine Learning Engineer - Search',
       'Revenue Management Data Analyst/Client Services',
       'Data Analyst 3', 'Backend Data Engineer',
       'Senior Data Engineer - Apple', 'Senior Data Scientist',
       'Senior Data Analyst, Customer Success',
       'Data Analyst - Charlotte, NC', 'Associate, Data Scientist',
       'Customer Data Scientist (New York)',
       'Data Science - Generalist & Machine Learning Engineer - Full Time Opportunities',
       'Product Analytics Sr. Data Scientist',
       'Big Data Engineer - Mid Level',
       'Data Scientist Associate - CIB Wholesale Payments Data and Analytics',
       'Manager - Data Engineer/Python Expert - PwC Labs - Bangalore',
       'Process Experts - Opportunity to Cash-Data Analyst',
       'Data Engineering Internship',
       'Data Scientist - Technology Development',
       'Software Engineering- Data Engineer',
       'Senior Associate-Data Analyst',
       'Business Data Analyst / Business Systems Analyst',
       'Manager, Data Engineering',
       'Senior Associate - Geospatial Lab (Image Processing and Machine Learning)',
       'Senior Big Data Engineer (Data Science/ML)',
       'Data Scientist- Marketing Analytics -Manager',
       'Senior Software Engineer, Data Engineering (Data Lake)',
       'Associate Data Scientist II', 'Financial Data Analyst',
       'Data Engineer: Data Integration', 'MIS Executive / Data Analyst',
       'Informatica Data Engineer',
       'Jr. Data Analyst (Freshers welcome to apply)',
       'Senior Product Software Engineer (Machine Learning)',
       'Lead data Engineer - Snowflake', 'AWS Data Engineer-Staff',
       'SENIOR DATA SCIENTIST ( DEEP LEARNING/ NLP)',
       'Staff Data Engineer',
       'Data Engineer with Cloud(Python and Spark/Scala',
       'Junior Data Analyst'], dtype=object)

In [40]:
# export data related jobs
indeed_main.to_csv('./indeedjobs.csv', index=False)

In [41]:
# export data employers-industry mapping to assist with Glassdoor missing industries
indeed_main[['employer', 'industry']].drop_duplicates().to_csv('./employer_industry.csv', index=False)

#### Output Employer-Industry for ALL Employers

In [42]:
indeed_master[['employer', 'industry']].dropna().drop_duplicates().to_csv('./all_employer_industry.csv', index=False)

### AWS Key Phrase Extraction

In [147]:
indeed_aws = indeed_main[indeed_main['description'].apply(lambda x: len(x.encode('utf-8'))) <= 5000]

In [ ]:
sample_frac = 1 # % of total records for sample processing.
cf_score = 0.8  # confidence score threshold for key phrases

# Call AWS comprehend to extract key phrases
s3 = boto3.Session(
    aws_access_key_id="keyhere",
    aws_secret_access_key="keyhere"
)

comprehend = s3.client(service_name='comprehend', region_name='us-east-2')

print('Calling DetectKeyPhrases')

df_list = []

for i in range(round(sample_frac * len(indeed_main))):
    if len(indeed_main["description"].iloc[i].encode('utf-8')) <= 5000:  # AWS' limitation on one request
        dump_json = json.dumps(comprehend.detect_key_phrases(Text=indeed_main["description"].iloc[i], 
                                                           LanguageCode='en'), sort_keys=True, indent=4)
        df_phrases = pd.json_normalize(json.loads(dump_json)['KeyPhrases'])
        df_phrases['id'] = indeed_main["id"].iloc[i]
        df_list.append(df_phrases)
    else:
        continue # to be handled
        
df = pd.concat(df_list)
print('End of DetectKeyPhrases\n')

In [97]:
df

,BeginOffset,EndOffset,Score,Text,id
0,1,16,0.994855,job description,3705b6bdceec9a65cae63741ecff9989
1,19,31,0.988749,bank america,3705b6bdceec9a65cae63741ecff9989
2,40,107,0.899997,senior data scientist analytics team digital t...,3705b6bdceec9a65cae63741ecff9989
3,115,142,0.999753,wholesale credit technology,3705b6bdceec9a65cae63741ecff9989
4,145,159,0.987955,scope projects,3705b6bdceec9a65cae63741ecff9989
...,...,...,...,...,...
92,2634,2646,0.855729,master’s/phd,076196ef66cd3e231bd0d1e97eed18db
93,2648,2658,0.973829,statistics,076196ef66cd3e231bd0d1e97eed18db
94,2660,2749,0.812369,economics quantitative discipline database mar...,076196ef66cd3e231bd0d1e97eed18db
95,2750,2774,0.827273,newer emerging languages,076196ef66cd3e231bd0d1e97eed18db
96,2775,2783,0.752389,r python,076196ef66cd3e231bd0d1e97eed18db

In [98]:
# Generate the dataframe of skills
df_skills = pd.DataFrame(df[df['Score'] >= cf_score][['id','Text']])
df_skills.columns = ['id','skill']
df_skills['type'] = ''

In [99]:
df_skills.groupby(['skill']).count()[df_skills.groupby(['skill']).count()['id']>10].sort_values('id',ascending=False)

                  id  type
skill
ability          108   108
data              94    94
world             68    68
role              56    56
company           47    47
...              ...   ...
globe             11    11
findings          11    11
economics         11    11
data scientists   11    11
teams             11    11

[103 rows x 2 columns]

### Azure Named Entities Recognition (NER)

In [258]:
key = "keyhere"
endpoint = "https://mads-milestone1-ds-skills.cognitiveservices.azure.com/"

from azure.ai.textanalytics import TextAnalyticsClient
from azure.core.credentials import AzureKeyCredential

# Authenticate the client using your key and endpoint 
def authenticate_client():
    ta_credential = AzureKeyCredential(key)
    text_analytics_client = TextAnalyticsClient(
            endpoint=endpoint, 
            credential=ta_credential)
    return text_analytics_client

client = authenticate_client()

# Example function for recognizing entities from text
def entity_recognition(client, df):
    """
    Args:
        client: object. Azure API
        df: DataFrame. Contains data
        
    Returns:
        df_list: DataFrame. Contains skills extracted from description
    """
    df_list=pd.DataFrame(columns=['id','skill','category','confidence score'])
    num = 0
    for i in list(df.index):
        if num < 100:
            j = int(len(df['description'].iloc[i]) / 5000) + 1
            txt = []
            
            for x in range(j):
                if j <= 1:
                    txt.append(df['description'].iloc[i])
                else:
                    txt.append(df['description'].iloc[i][x*5000:(x+1)*5000])
                try:
                    documents = [item for item in txt[x:x+1]]
                    result = client.recognize_entities(documents = documents)[0]
                    for entity in result.entities:
                        df_list=df_list.append({'id':df['id'].iloc[i],
                                                 'skill':entity.text,
                                                'category':entity.category,
                                                'confidence score':entity.confidence_score},ignore_index=True)
                except Exception as err:
                    print("Encountered exception. {}".format(err))
        else:
            time.sleep(60)
            num = 0
    
    return df_list

#### Evaluate Azure NER

In [ ]:
for desc in indeed_main.description[:10]:
    input("")
    print("\n\n", desc)

  job description:  bank america seeking senior data scientist analytics team digital transformation program within wholesale credit technology.  scope projects include descriptive, predictive prescriptive analytics. cultivate team infrastructure support modeling analyzing loan data wholesale credit business lines. develop value-added analytics solutions support revenue generation, business insight, risk management, operational efficiency, regulatory compliance, loan pricing, pre post-sale loan facility research. solutions must overcome issues complex data (e.g., vldb, multi-structured, "big data", etc.) well deployment advanced techniques (e.g., machine learning, text mining, statistical analysis, etc.) deliver insights. determine best practices areas data science machine learning. facilitate use technologies within loan business loan system applications including precision lender wholesale credit business processes. liaise global banking markets enterprise level teams determine best practices firm contribute improving proficiency areas wct, firm generally. work robotics analytics swat team project intake present new technologies relate solutions high roi applications analytics. manage projects project budget.  minimum qualifications  ph.d. degree related field preferred substantial equivalent experience. typically requires minimum 7-10+ years practitioner machine learning financial markets.  shift: 1st shift (united states america) hours per week: 40

 senior data engineer overview: weedmaps looking senior data engineer help architect, build, scale, maintain world-class data platform. seeking qualified individual eager ensure ability store, process, analyze data keeps business growth ambitions. would early hire fast growing startup significant impact design implementation engineering vision company team grows. impact make: enterprise-wide data modeling database design, processes procedures data governance, change management, taxonomy management master data management. working engineering teams data sme, provide architecture design, development oversight assistance ensuring holistic data strategy scalable data flow architecture. produce documentation standards guidelines technical functional audiences, data flow architecture documentation related platform services. establishing managing ongoing maturity company's business glossary, driving consistent end-to-end data driven integration strategy. develops metadata management repository strategy manage enterprise information architecture. accomplished: strong data schema modeling, orm modeling, soa domain driven design architecture patterns, building highly scalable secure solutions strong understanding aws infrastructure services, python, java/scala, ruby, elixir similar languages required. expert knowledge various relational non relational database systems (aurora postgres, elasticsearch, redshift, dynamodb, graph databases) exceptional documentation communication skills. bs/ms/phd computer science related field benefits: fully covered medical, dental, vision employee dependents matching 401k, 50% match 6% employee contribution 3 weeks accrued pto 5 immediate sick days accident insurance basic life/ad&d (accidental death dismemberment) voluntary short long term disability flexible spending account catered lunch provided 5 days week equipment need get work done fridge always stocked energy drinks snacks casual work environment, read "no suit tie required", free dress nines weedmaps equal opportunity employer. qualified applicants receive consideration employment without regard race, color, religion, sex, sexual orientation, gender identity, gender expression, national origin, protected veteran status, basis protected applicable law, discriminated basis disability. looking smartest passionate people want join team develop services, systems, marketplaces serve marijuana industry decades come. company uses e-verify confirm employment eligibility newly hired employees. learn e-verify, including rights responsibilities, please visitwww.dhs.gov/e-verify ( http://www.dhs.gov/e-verify ). weedmaps: founded 2008, weedmaps leading technology software infrastructure provider cannabis industry. suite cloud-based software data solutions includes point sale, logistics ordering solutions enable customers scale businesses complying complex disparate regulations applicable cannabis industry. addition, platform provides consumers information regarding cannabis products across web mobile platforms, including listing local retailers brands, facilitating product discovery allowing consumers educate cannabis history, uses legal status. headquartered irvine, california, weedmaps employs 400 professionals around world, offices including barcelona, berlin, boston, denver, new york, phoenix toronto. waiting for? join weedmaps team!

  blue skies, data analyst primarily responsible successful completion project activities directed project manager. project activities include understanding customers’ business order complete requirements analysis definition, design solution, prototypes testing, deployment solution post go-live support. data analyst works direction engagement project manager may also required lead small medium engagements. data analyst’s responsibilities fall three major categories: delivery, practice development, sales & marketing. delivery sustain average billable utilization 100% maintain high level customer satisfaction exceeding client expectations self-manage completion assigned activities practice development participate proactively corporate initiatives provide operational support blue skies creation refinement deliverables processes (focused project delivery) sales / sales collaboration & marketing provide sales & business development support assigned maintain expected levels activity within blue skies’ “relationship sales program” position responsibilities: blue skies expects data analyst plan, research analyze business requirements customer; make reasoned decisions assessing details, provide recommendations along risks issues involved alternative. project initiation – participate project onboarding process, assimilate client information project contractual obligations, understand assigned tasks project planning – assist project manager detailed planning assigned activities project execution – successfully complete assigned individual team project tasks throughout project, meeting timelines deliverable quality standards project closure – complete assigned project closure tasks including blue skies’ documentation, templates marketing activities corporate growth – participate corporate initiatives support blue skies’ journey excellence mission required skills experience:  management consulting experience desired master data management (mdm) software implementation experience (informatica, reltio, sap mdg, talend, teradata, etc.) strong analytical, problem solving skills keen attention detail ability collect & interpret large data sets identify patterns & trends ability analyze data report results back relevant members business ability analyze large datasets & write comprehensive reports ability translate business requirements data requirements defining new data collection analysis processes general business process operations understanding (i.e., finance, supply chain, etc.) understanding core data objects (product, customer, vendor) cross-functional impact understanding data gathering, inspecting, cleansing, transforming, modeling/diagramming techniques understanding data integration, data conversion, data profiling data life cycle implementation methodology lifecycle understanding execution ability self-manage effectively excellent verbal written communication skills ability collaborate effectively team ability willingness learn new concepts approaches ms excel sql proficiency support data analysis reporting activities ms powerpoint content development creativity skills friendly, respectful, courteous, selfless modest bachelor’s master’s degree mathematics, computer science, information management statistics job types: full-time, contract experience: data analysis: 3 years (required) location: princeton, nj (required) work authorization: united states (required) contract length: varies contract renewal: likely

  overview  position reports director compliance operations and, responsible acquire, manage, analyze data report results trends associated compliance risk enable company quickly precisely align resources. responsibilities include items ensuring data quality, identifying resolving issues data logical mathematical nature, identification trends large datasets; develop automation, reporting self-service capabilities duties assigned. ability source data point sale systems associated databases/data marts needed pre-examination, examination, customer remediation reporting package needs.  responsibilities  analyze data associated customer complaints, issues, regulatory examinations, compliance testing findings along associated products/services, financial data, servicing channel geographical data identify shifts trends level within enterprise hierarchy vertical horizontal views. build produce reporting key risk indicators trends associated compliance risk. take active part development continual improvement processes regarding data quality control, user self-service data access, delivery information across enterprise.   qualifications  equivalent education level required: bachelor degree information systems, computer science, mathematics relevant field. experience required: experience relational databases, data warehouses, data manipulation presentation. 1-3 years experience using tableau, sas and/or packages. experience etl tools. experience data mining techniques. knowledge required: excellent written verbal communications skills would needed communicate person, phone, email; adaptability flexibility changing environment; comfortable working dynamic, high volume, fast-paced environment. ability read, write, evaluate, apply information. ability interact professionally exhibit appropriate social skills. ability understand ensure compliance policies, procedures, laws governing industry/business products. ability develop maintain business relationships. ability communicate people across wide range technical financial knowledge. technical expertise regarding data models database design development. physical requirements: sitting long periods time; standing occasionally; walking; bending; squatting; kneeling; pushing/pulling; reaching; twisting; frequent lifting less 10 lbs., occasional lifting 20 lbs.; typing; data entry; grasping; transferring items hands and/or another person receptacle; use office equipment include computers; ability travel to, physically present at, complete physical requirements position assigned location. travel: 0-10% attire: business casual  other: must eligible work usa able pass background check.

   req. id: 144857  micron technology’s vision transform world uses information enrich life commitment people, innovation, tenacity, collaboration, customer focus allows us fulfill mission global leader memory storage solutions. means conducting business integrity, accountability, professionalism supporting global community.  smart manufacturing & ai data scientist micron technology, inc., work world-class team data engineers, business intelligence experts, software engineers discover data insights unobservable traditional business solutions. draw broad background data-mining techniques mathematics, statistics, information technology, machine learning, data engineering, design experiments, visualization, text mining discover insightful patterns data. position, take exciting projects across enterprise business processes bring data science methods opportunities sales, supply chain, finance, corporate strategy, marketing, business areas.  responsibilities include, limited to:  strong understanding business strategy develop clear vision data science collaborate data scientists, data engineers business process experts access existing data data warehouse big data environments ability develop, tune, deploy predictive models explain predict business outcomes prepare deliver presentations data visualizations business conclusions   minimum qualifications:  masters computer science, engineering, economics, mathematics, statistics another research science, bs least two years relevant experience strong knowledge experience r, python statistical software familiarity core techniques statistical machine learning, including regularized regression, time series analysis, decision trees, boosting algorithms, neural networks, frequentist bayesian inference, power calculation experimental design, clustering, collaborative filtering, nlp, cross-validation bootstrapping, data visualization strong interpersonal skills maintain positive relationships colleagues proactive collaborate effectively rapidly changing environment   us leader innovative memory solutions, micron helping world make sense data delivering technology transforming world uses information. global brands — micron, crucial ballistix — offer industry’s broadest portfolio. company manufacturing today’s major memory storage technologies: dram, nand, 3d xpoint™ memory. solutions purpose built leverage value data unlock financial insights, accelerate scientific breakthroughs enhance communication around world.  micron benefits employee rewards program, healthcare, paid time (combined sick vacation time), retirement savings plans, paid maternity/paternity leave, employee assistance program, professional development training, workplace wellness programs, micron health clinic (boise only), fitness center / activity rooms (boise only), tuition reimbursement, micron corporate discounts, casual dress attire.  qualified applicants receive consideration employment without regard race, color, religion, sex, sexual orientation, gender identity, national origin, veteran disability status. us sites only: request assistance application process and/or reasonable accommodations, please contact micron’s human resources department 1-800-336-8918 208-368-4748 and/or completing general contact form keywords: boise || idaho (us-id) || united states (us) || technology development || college || regular || engineering || #li-sc2 || tier 4 ||

   description customer data analyst bmw responsible providing expertise, insight innovation area data management, acquisition enhancement goal providing new insights recommending best practices health digital aspects bmw’s customer experience. incumbent responsible analyzing understanding online marketing, website traffic offline data, partnering various teams grow improve customer experience throughout journey. ensuring data quality, segmentation security data digitally place. ideal candidate work develop strategic data enrichment programs optimize available data targeted marketing activities customer centric platform. duties include analysis quality data capture techniques, educating internal customers relevance data business, championing strategies, identifying data gaps developing best practices identify data opportunities easy report effective digital measurement. incumbent also partner internal teams improve data integrity help develop new innovative ways impact positive customer experience. role work closely field teams, dealer networks, marketing, sales, bmw financial services agency partners needed. qualifications experience bachelor’s degree ideally business, communications, etc. equivalent work experience 7- 10 years working experience leading executing data analytics, data quality engineering data research 4 years applying statistical techniques marketing communications use cases strong understanding data science landscape big data opportunities, data capture methods strong understanding web analytics techniques working digital platforms excellent presentation skills

   managerial direction, wide latitude independent judgment initiative, business data analyst manager (bdam) responsible identifying troubleshooting various issues technical business resolution escalation, appropriate. bdam may responsibility supervising analytical staff. specific duties responsibilities include limited to: collects analyzes statistical quantitative data, employing standard data collection statistical techniques, order produce summary descriptive projective results agency decision making. monitors, reviews, controls coordinates subordinates’ activities, assignments, projects cases personal observation, review statistical narrative data, reports, correspondence. compare work completed milestone expectations, meet program unit objectives. prepare, distribute, schedule work activities assignments based knowledge nature duration activities assignments performed. use basic scheduling techniques, desires abilities staff possible, order provide timetable efficient completion unit work adequate coverage hours operation. analyze department business processes existing technology, recommend needed changes enhancement work departments implement solutions. liaison acs develop repair technical tools maintain project reports entire department. lead development delivery in-service training improve timeliness quality case openings, case maintenance case closings connections, wms/ccrs/bics promis troubleshoot problems identified users applications systems impact case openings, case maintenance, payments, medicaid activations, sso incident management tracking system recon ssps tool. initiate follow-up corrective actions, including interface acs provider agency staff, maintain records errors corrected, order reconcile issues resolve problems. participate development design changes applications like connections, wms/ccrs/bics. promis, lts, ssps tool sso incident management tracking system. rate evaluate job performance subordinates observations, record keeping, use appropriate forms, order document employee’s level performance.   minimum qual requirements  1. master’s degree accredited college university, accredited regional, national, professional specialized agencies recognized accrediting bodies u.s. secretary education council higher education accreditation (chea) economics, finance, accounting, business public administration, human resources management, management science, operations research, organizational behavior, industrial psychology, statistics, personnel administration, labor relations, psychology, sociology, human resources development, political science, urban studies closely related field, one year satisfactory full-time professional experience one combination following: working budget large public private concern budget administration, accounting, economic financial administration, fiscal economic research; management methods analysis, operations research, organizational research program evaluation; personnel public administration, recruitment, position classification, personnel relations, labor relations, employee benefits, staff development, employment program planning/administration, labor market research, economic planning, social services program planning/evaluation, fiscal management; related area; 2. baccalaureate degree accredited college university, accredited regional, national, professional specialized agencies recognized accrediting bodies u.s. secretary education council higher education accreditation (chea) three years satisfactory full-time professional experience areas described “1" above.   additional information  section 424-a new york social services law requires authorized agency inquire whether candidate employment child-caring responsibilities subject child abuse maltreatment report. position open permanent candidates currently serving civil service title associate staff analyst. city new york administration children’s services equal opportunity employers committed diversity   apply  click "apply now" button.   residency requirement  new york city residency generally required within 90 days appointment. however, city employees certain titles worked city 2 continuous years may also eligible reside nassau, suffolk, putnam, westchester, rockland, orange county. determine residency requirement applies you, please discuss agency representative time interview.

  analyst update internal tracking, create reporting respond escalations within defined responsibilities. main duties / responsibilities build & qa billing/pricing element tables (interchange, auth, data capture, etc.). provide assistance feedback senior data analyst(s) respond operations, product sales escalations. manage card brand 3rd party invoices; query monthly invoices generate p&l reports coordination it/dba commissions/finance teams. build maintain cross-processor interchange code billing descriptor mapping grids (us & canada regions). analyze impact card brand updates/changes production pricing billing elements. develop portfolio specific reporting/metrics using business intelligence tools e.g. ms power bi.  requirements bachelor’s degree preferred. 3+ years financial and/or payments acquiring position. acquiring and/or payment processing industry experience preferred. good understanding clearing settlement concepts (visa, mastercard & pin debit networks). strong proficiency ms office suite; advanced excel must. mysql experience preferred. ability work simultaneously various data sources large datasets. ability deliver tight deadlines work simultaneously multiple projects. ability exercise discretion judgment dealing confidential sensitive data. ability maintain accurate detailed records. ability establish priorities, work team context, manage multiple tasks/projects. help identify gaps and/or optimization opportunities within existing processes. excellent communication skills (oral written).

  overview  working part dedicated research team heart fine arts division, individual responsible data input consolidation well management object database. / responsibility partner researcher team build robust database, specialists rely integrity data utilize resource potential business getting.  contract position: december 20, 2019 responsibilities  acting department point person newly identified property, information leads come central point input, upkeep development object database fine arts division. building comprehensive complete lists artists’ oeuvres researching full market history current ownerships works art consolidating intelligence internal sources gathering intelligence external sources centralizing existing internal data  jointly manage object database updating pricing ownership daily entering new intelligence expand database  qualifications  prior data analyst experience strongly preferred exceptional excel proficiency proficiency ms word, outlook general familiarity database management (knowledge sotheby’s systems plus) flexibility work long hours, including evenings weekends sale deadline periods exceptional organizational skills attention detail ability perform multiple tasks simultaneously efficiently meet constant deadlines ability troubleshoot solve problematic situations regular basis strong verbal written communication skills, including excellent phone manner proven client service skills discreet, dependable mature enthusiasm art willingness broaden knowledge knowledge fine art preferred

 expedia carrentals small rapidly growing company within expedia group portfolio premier car rental booking company web. carrentals powers three different brands across multiple points sale single common platform, bringing suppliers customers together find right car best price. carrentals offers phenomenal opportunity work startup-like environment backed resources, benefits, network large, multi-national online e-commerce company.  senior data analyst, carrentals finance tech team, build solutions automate rhythm business functions, apply statistical forecast models support financial operational forecasting, use data science solve problems problem isn’t obvious. cr finance small team big ambitions transform role finance business use data. passionate data analysis? master vb python? find travel fascinating always wondered looks like behind scenes?  position carrentals finance building team technologists objective transforming finance business. looking someone passion using data hypothesize, investigate solve real-world problems. enjoy working various data sets, spanning finance, web, marketing, booking data, different data platforms, collaborating bright minds diverse groups regular basis. able see impact work analyses business contribute deeply.  you’ll do:  complete ad-hoc analysis requests using relational databases/aws, excel, tableau (or looker), hive, python, r. automate boring, eradicate mundane, use keyboard code. use data find insights make data-driven decisions support advise leadership team. collaborate various teams – fp&a, accounting, analytics data engineering pursuit mission. work remote team members foster relationships part multi-functional project team. take inconsistent data multiple sources transform single, usable form. design implement reporting solutions end state analyses. enable internal partners make data-driven decisions.  are:  bachelor’s degree (majors business, statistics, computer science, data science) 3+ years relevant experience. write advanced sql code know basic etl. advanced excel skills. familiarity tableau, looker, similar reporting tool. familiarity python another mainstream scripting language. bias action. think big small grasp entire picture taking care details. experience agile process jira board.  join us: expedia group recognizes success dependent success people. world's travel platform, made knowledgeable, passionate, creative people business. brands recognize power travel break barriers make people's lives better – responsibility inspires us place exceptional people want best work, provide tools so.  whether applying work engineering customer support, marketing lodging supply, expedia group act one team, working towards common goal; bring world within reach. relentlessly strive better, cost customer. act humility optimism, respecting ideas big small. value diversity voices volumes. global organization keep feet ground, act fast stay simple. teams also chance give back local level make difference corporate social responsibility program, expedia cares.  hunger make difference one loved consumer brands world work dynamic travel industry, job you. family travel brands includes: brand expedia®, hotels.com®, expedia® partner solutions, egencia®, trivago®, homeaway®, orbitz®, travelocity®, wotif®, lastminute.com.au®, ebookers®, cheaptickets®, hotwire®, classic vacations®, expedia® media solutions, carrentals.com™, expedia local expert®, expedia® cruiseshipcenters®, silverrail technologies, inc., alice traveldoo®. li-an1 expedia committed creating inclusive work environment diverse workforce. qualified applicants receive consideration employment without regard race, color, religion, gender, gender identity expression, sexual orientation, national origin, genetics, disability, age, veteran status. employer participates e-verify. employer provide social security administration (ssa) and, necessary, department homeland security (dhs) information new employee's i-9 confirm work authorization.

#### Skills Table Generation Using NER

In [260]:
skills = entity_recognition(client, indeed_main)

In [346]:
skills.to_csv('./indeed_skills.csv', index=False)

## Export Data Scientist Jobs

In [ ]:
indeed_ds = indeed_main[indeed_main['title'].str.contains('(?i)(data scientist)', regex=True)]
indeed_ds.to_csv('./indeedDSjobs.csv', index=False)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

In [ ]:
indeed_ds.reset_index(drop=True, inplace=True)

In [ ]:
ds_skills = entity_recognition(client, indeed_ds)

In [ ]:
ds_skills.to_csv('./indeed_ds_skills.csv', index=False)

In [361]:
ds_df = pd.merge(ds_skills, indeed_ds)
ds_df.sample(5)

,id,skill,category,confidence score,posting_date,description,title,employer,industry,source,country
3425,da78601e21da6ecb53eceba6ee6e4301,25 pounds,Quantity,0.80,2019-10-25,job description visa world’s largest consumer...,Senior Data Scientist,Visa,NaN,Indeed,United States
1308,00112c0c01d44c55fb544ca5d8c657e9,datasets,Skill,0.49,2019-10-04,"criteo, building advertising platform choice ...","Internship Data Scientist, Product Analytics, ...",Criteo,NaN,Indeed,United States
2566,968161a5b323139f074d3b31a34702f1,coding programming,Skill,0.80,2019-10-25,position title data scientist location ralei...,Data Scientist,Genworth,NaN,Indeed,United States
3691,35ad5d2a885fbdd752fa8bc8a2327160,natural language processing,Skill,0.70,2020-11-11,overview: passionate applying data science art...,Data Scientist,"ESRI, Inc.",Healthcare,Indeed,India
2020,88504476dce22903b43ac0ada877fd70,r,Skill,0.59,2019-08-25,live objects live objects delivers continuous...,Data Scientist,LIVE OBJECTS,NaN,Indeed,United States